
form {
  display: flex;
  flex-direction: column;
}

#inputFile {
  min-width: 120px;
  max-width: 250px;
}

#genderSelector {
  width: 305px;
  font-size: 1em;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  padding: 5px;
}

#genderSelector::after {
  position: absolute;
  border: 1px solid black;
}

/* Inputs */ 